@use 'colors';
@use 'theme';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    background-color: colors.$white;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    display: grid;
    place-items: center;
    padding: .5rem 0;
    &__title {
        text-align: center;
        margin-inline: auto;
    }
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-content {
    @include flex-col;
    width: min(90%, 1000px);
    gap: 1rem;
    border: 1px solid colors.$darker-white;
    box-shadow: 0 0 10px colors.$light-white;
    padding: 1rem;
    border-radius: 1rem;
    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.live-preview-component {
    max-width: 500px;
    max-height: 500px;
    width: 200px;
    height: 200px;
    min-width: 100px;
    min-height: 100px;
    border: 1px solid colors.$darker-white;
    box-shadow: 0 0 5px colors.$darker-white;
    transition: 150ms ease, border-radius 250ms ease;
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
}

.generic-button-style {
    background-color: colors.$white;
    box-shadow: 0 0 10px colors.$darker-white;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: .3rem .8rem;
    border-radius: 1.2rem;
    cursor: pointer;
    outline: 2px solid rgb(230, 230, 230);
    transition: transform 100ms ease;
}

.generic-button-style.clear-inputs {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.copy-pop-up {
    width: min(90%, 400px);
    border: 1px solid rgb(230, 230, 230);
    background-color: #fff;
    box-shadow: 0 0 10px rgb(231, 231, 231);
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    transition: top 400ms ease;
    top: -100vh;
}

.copy-pop-up.active {
    top: 1rem;
}

.copy-pop-up_close {
    cursor: pointer;
    float: right;
}

.live-preview-component_change-size {
    font-size: 1.2rem;
    padding: .6rem 2rem;
    margin-bottom: 1rem;
}

.generic-button-style:active {
    transform: scale(.96);
}

.live-preview-component_input-sizes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    transform: scaleY(0);
    height: 0;
    transition: transform 200ms ease;
    transform-origin: top;
}

.live-preview-component_input-sizes__col {
    @include flex-col;
}

.live-preview-component_input-sizes.active {
    transform: scaleY(1);
    height: auto;
}

.input-caption {
    text-transform: uppercase;
    font-weight: 600;
}

.input-element {
    width: min(100%, 300px);
    min-width: 200px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0 .2rem;
    font-size: 1.5rem;
    border: none;
    box-shadow: inset 0 0 0 3px colors.$darker-white;
    min-height: 40px;
    border-radius: .4rem;
    text-overflow: ellipsis;
    transition: box-shadow 120ms ease;
}

.input-element:focus {
    outline-color: transparent;
    box-shadow: inset 0 0 0 1px colors.$darker-white;
}

.border-radius-settings {
    margin-top: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}